@media screen and (max-width: 1240px) {
    .site-body {
        width: 800px;
        margin: 0 auto;
        position: relative;
    }
    .inform-page {
        margin-top: 45px;
        padding-top: 0;
        width: 800px;
        background: #e7eff6;
        padding-bottom: 40px;
    }
    #first {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
    }
    .left {
        width: 500px;
        height: auto;
    }
    #first .input_1 {
        margin-top: 25px;
    }
    .right {
        width: 500px;
        margin-top: 25px;
    }
    #forth {
        margin: 40px;
        width: 720px;
    }
    .options {
        text-align: center;
    }
    .inner_wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 10px 20px 10px;
    }
    #forth .left {
        height: auto;
        margin-top: 10px;
    }
    .inner_wrap .right {
        margin-top: 0;
    }
    .sourse_bottom br {
        display: none;
    }
    #forth_2 {
        width: auto;
    }
    .index {
        margin-left: 270px;
    }
    #forth_2 .source {
        flex-direction: column;
        height: 125px;
        padding-bottom: 22px;
    }
    #forth_2 .long {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    #forth_2 span {
        color: black;
        font-size: 16px;
        padding: 15px 0 0 10px;
    }
    #forth_2 .source .index {
        width: 102px;
        margin: 2px 0 0 115px;
    }
    #forth_2 button {
        padding: 15px;
        background: #59778c;
        color: white;
        font-size: 14px;
        text-transform: none;
        font-weight: 500;
        margin: 25px;
        border-radius: 5px;
    }
    .block .source {
        margin-bottom: 25px;
    }
    #fifth {
        margin: 25px 40px 0 40px;
        width: 800px;
    }
    #fifth button {
        width: 724px;
        border-radius: 5px;
        font-size: 16px;
        text-transform: none;
    }
    .result {
        width: 722px;
    }
    .total {
        background-position: right 150%;
    }
    .total .score {
        color: white;
    }
}

@media screen and (max-width: 840px) {
    .site-body {
        width: auto;
    }
    .inform-page {
        width: auto;
    }
    #forth {
        width: auto;
    }
    #forth_2 {
        width: auto;
    }
    .index {
        margin-left: 8px;
    }
    #fifth {
        width: auto;
    }
    #fifth span {
        display: none;
    }
    #fifth button {
        width: 250px;
    }
    .result {
        width: auto;
    }
    .wr_score p {
        width: 400px;
    }
}

@media screen and (max-width: 820px) {
    .total {
        background-position: 350px;
        background-size: cover;
    }
}

@media screen and (max-width: 700px) {
    .total {
        background-position: 300px;
        background-size: cover;
    }
}

@media screen and (max-width: 620px) {
    .total {
        background-position: 250px;
        background-size: cover;
    }
}

@media screen and (max-width: 600px) {
    .site-body {
        width: auto;
    }
    .title-box {
        font-size: 20px;
    }
    .inform-page {
        width: auto;
    }
    .wrapper #calculate {
        padding: 0;
    }
    #first {
        padding: 0 15px 0 15px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #first .left {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    select {
        font-size: 15px;
    }
    .left .input_1 label {
        font-size: 15px;
    }
    .left .input {
        color: black;
        font-size: 14px;
        width: 298px;
        padding: 10px 15px 10px 15px;
    }
    .left input {
        padding: 0;
        width: 80px;
        height: 35px;
        text-align: center;
    }
    #first .right {
        width: auto;
        height: auto;
    }
    #first .right p {
        font-size: 15px;
        padding-top: 15px;
    }
    #first .right input {
        vertical-align: center;
    }
    #first .right .safe {
        padding-top: 0;
        s
    }
    #first .right p span {
        display: none;
    }
    #second {
        padding: 0 20px 25px 15px;
    }
    #second li {
        font-size: 13px;
    }
    #third {
        padding: 0 15px 0 15px;
        margin-bottom: 25px;
    }
    #forth {
        margin: 30px 0 0 0;
        width: auto;
        border: none;
    }
    .source {
        background: white;
        border: #59778c 1px solid;
        margin: 25px 15px 0 15px;
        width: auto;
        padding-bottom: 8px;
    }
    .source .in {
        background: #59778c;
        color: white;
        padding-left: 20px;
    }
    .inner_wrap {
        margin: 15px 15px;
    }
    #forth .left {
        width: auto;
        margin-top: 0;
    }
    #forth input {
        width: auto;
        height: auto;
    }
    #forth .left {
        width: auto;
        margin-top: 0;
    }
    #forth .right {
        width: auto;
    }
    .inner_wrap p {
        font-size: 13px;
    }
    .source .in_2 {
        background: #59778c;
        color: white;
        padding-left: 20px;
    }
    .sourse_bottom {
        margin: 0 15px 25px 15px;
        text-align: center;
    }
    #forth_2 {
        width: auto;
        margin: 0 0 30px 0;
        border-left: none;
        border-right: none;
        background: white;
    }
    .index {
        margin-left: 0;
        width: auto;
    }
    .index .sqrt {
        margin: 33px 0 0 0;
    }
    .index .quart {
        height: 18px;
        margin-top: 18px;
    }
    #forth_2 .source {
        width: auto flex-direction: column;
        height: 125px;
        padding: 15px;
        margin: 0;
        border: none;
    }
    #forth_2 select {
        font-size: 11px;
    }
    #forth_2 .long {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #forth_2 input {
        width: 100px;
    }
    #forth_2 ::-webkit-input-placeholder {
        color: black;
        font-size: 14px;
        text-align: center;
    }
    #forth_2 .left_text {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    #forth_2 .source .index {
        width: 102px;
        margin: 2px;
    }
    #forth_2 button {
        padding: 15px;
        background: #59778c;
        color: white;
        font-size: 14px;
        text-transform: none;
        font-weight: 500;
        margin: 0 15px 25px 15px;
        border-radius: 5px;
        width: 270px;
        text-align: center;
    }
    .block {
        width: auto;
        margin: 0 auto;
        background: none;
        border: none;
    }
    .block .inner_wrap p {
        font-size: 13px;
    }
    .block .left {
        width: auto;
    }
    .block .right {
        width: auto;
    }
    #fifth {
        margin: 25px 15px 0 15px;
        width: auto;
    }
    #fifth button {
        width: auto;
        border-radius: 5px;
        font-size: 14px;
        text-transform: none;
    }
    #fifth button span {
        display: none;
    }
    #fifth .result {
        width: auto;
        height: auto;
    }
    .total {
        background: none;
        padding: 5px 15px 20px 15px;
        width: auto;
    }
    .wr_score {
        flex-direction: column;
    }
    .wr_score p {
        width: auto;
    }
    .total p {
        font-size: 14px;
    }
    .total .score {
        color: #277ddd;
        font-weight: bold;
        padding-top: 15px;
        text-align: left;
        font-size: 16px;
    }
}